<mat-toolbar color="primary">
  <span>Cosmic Clothing</span>
  <span class="spacer"></span>

  <a mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </a>

  <a mat-button routerLink="/shop">
    <mat-icon>shopping_bag</mat-icon>
    Clothes
  </a>

  <a mat-button routerLink="/favorite">
    <mat-icon>favorite</mat-icon>
    Favorites
  </a>

  <a mat-button routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
    Cart
  </a>
</mat-toolbar>

<!-- Main page content will be displayed here -->
<router-outlet></router-outlet>
